<div class="top-bar__menu">
    <ul>
        <i id="btn-times" class="far fa-times"></i>
        <li>
            <a href="/HomePage/Index">Home</a>

        </li>
        <li style="display: none;"><a href="coming-soon.html">About</a></li>
        <li id="item-home" style="position: relative;">
            <a href="blog2.html">Categories</a>
            <div style="z-index: 888;" class="menu-home">
                <a href=""><div><span></span>Knowledge</div></a>
                <a href=""><div><span></span>Thinkpad</div></a>
                <a href=""><div><span></span>Product Reviews</div></a>
                <a href="lifestyle.html"><div><span></span>Life Styles</div></a>
                <a href=""><div><span></span>Healthy</div></a>
            </div>
        </li>
        <li style="display: none;" id="item-shop">
            <a href="coming-soon.html">Shop</a>
            <div class="menu-shop">
                <div>
                    <div class="list-menu-shop">
                        <ul class="list-in-menu-shop">
                            <li><a href="full-4col.html"><span>Shop Fullwidth 4Columns</span></a></li>
                            <li><a href="ful-5col.html"><span>Shop Fullwidth 5Columns</span></a></li>
                            <li><a href="ful-lsb.html"><span>Shop Fullwidth Left Sidebar</span></a></li>
                            <li><a href="ful-rsb.html"><span>Shop Fullwidth Right Sidebar</span></a></li>
                        </ul>
                    </div>
                    <div class="list-menu-shop">
                        <ul class="list-in-menu-shop">
                            <li><a href="shop-grid-4col.html"><span>Shop grid 4Columns</span></a></li>
                            <li><a href="shop-grid-3col.html"><span>Shop grid 3Columns</span></a></li>
                            <li><a href="shop-grid-sidebar.html"><span>Shop Grid Sideber</span></a></li>
                            <li><a href="shop-grid-sidebar.html"><span>Shop List Sidebar</span></a></li>
                        </ul>
                    </div>
                    <div class="list-menu-shop">
                        <ul class="list-in-menu-shop">
                            <li><a href="product-detail.html"><span>Product Detail</span></a></li>
                            <li><a href="shopping-cart.html"><span>Shopping cart</span></a></li>
                            <li><a href="checkout.html"><span>Checkout</span></a></li>
                            <li><a href="shopping-cart.html"><span>Wish list</span></a></li>
                        </ul>
                    </div>

                </div>
                <div class="img-menu-shop">

                </div>
            </div>
        </li>
        <li><a href="">Contact</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Account</a></li>

    </ul>
</div>
