@model DataAccess.EntityFramework.article

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section ClientScript1{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).mouseup(function (e) {
                var container = $(".top-bar__search");

                if (!container.is(e.target) && container.has(e.target).length === 0) {
                    container.hide();
                }
            });


            window.onload = function () {
                $('.content-post__img').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    dots: true,
                    // centerMode: true,
                    // focusOnSelect: true,
                    arrows: true,
                    infinite: true,
                    // speed: 300,
                    slidesToShow: 1,
                    adaptiveHeight: true,
                    autoplay: true,
                    autoplaySpeed: 2000,
                });
            };

        });
    </script>
    }


<div class="mc-post">
    <div class="mcp__large-post">
        <div>
            <div class="mcp__lp-title">
                <div class="lp-date">
                    <div>@(Model.create_time.HasValue?Model.create_time.Value.ToString("dd") : "")</div>
                    <span>@(Model.create_time.HasValue?Model.create_time.Value.ToString("MM") : "")</span>
                </div>
                <div class="lp-title">
                    <a href="">
                        <div>
                            @Html.Raw(Model.title)
                        </div>
                    </a>

                </div>

            </div>
            <div class="content-post">
                @Html.Raw(Model.textbody)
            </div>
            <div class="comments">
                <p><a href="/comments/index">Xem các bình luận</a></p>
                <br />
                <br />
                <p><a href="/comments/create">Viết bình luận</a></p>
            </div>
        </div>
    </div>


</div>


